<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/show" method="POST">
    <label for="title">title:</label>
    <input type="text" id="name" name="title">
    <br>
    <br>
    <label for="author">author:</label>
    <input type="text" id="comment" name="author">
    <br>
    <br>
    <label for="year">year:</label>
    <input type="text" id="comment" name="year">
    <br>
    <br>
    <input type="submit" value="Add">

</form>


</body>
</html>